<h1>Welcome!</h1>
<p>This is an example <a href="/styleguide">styleguide</a>. To customize this page, create a file at <code>app/views/kss/home/index.html.erb</code>.</p>



<section>
	<h2>Module</h2>
	<ul>
		<li>List Style</li>
		<li>Button Style</li>
		<li>Box Style</li>
	</ul>
</section>

<section>
	<h2>List Style</h2>
</section>

<section>
	<h2>Button Style</h2>
</section>

<section>
	<h2>Box Style</h2>
</section>